<div class="ttb-review">
  <a href="http://www.aladin.co.kr/shop/wproduct.aspx?ItemId={{ page.aItemId }}&amp;ttbkey={{ site.data.author.ttbkey }}&amp;COPYPaper=1" target="_blank" title="show-this-book-at-bookstore"><img src="{{ page.aItemImageUrl }}" alt="{{ post.title }}" /></a>
  <p class="ttb-outlink">
    <a href="http://www.aladin.co.kr/shop/wproduct.aspx?ItemId={{ page.aItemId }}&amp;ttbkey={{ site.data.author.ttbkey }}&amp;COPYPaper=1" target="_blank" title="show-this-book-at-bookstore">알라딘에서 책 정보 확인하기</a> »
  </p>
</div>
