$linkColor: royalblue;
$linkColorVisited: darkorchid;
$metaColor: dimgray;

/* CSS Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; }
img { border: 0; }

/* HTML Elements */
body {
  margin: 2rem 1rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  letter-spacing: -0.01rem;
}

h2 {
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  letter-spacing: -0.01rem;  
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.01rem;  
  text-decoration: underline;
}

ul {
  margin-bottom: 1rem;
  li {
    margin-left: 1.5rem;
  }
}

a {
  text-decoration: underline;
  color: $linkColor;
}

a:visited {
  color: $linkColorVisited;
}

p, span, a, li {
  line-height: 1.8;
  word-break: keep-all;
  vertical-align: baseline;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1rem;
  background-color: ghostwhite;
  border-left: 8px solid;
  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

pre {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1rem;
  line-height: 1.6;
  background-color: ghostwhite;
  white-space: pre-wrap;
}

hr {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/* Custom elements with class */
.hard-anchor,
.hard-anchor:visited {
  color: $linkColor;
  text-decoration: none;
}
.meta {
  margin-bottom: 1.75rem;
  font-size: 0.9rem;
  font-style: oblique;
  color: $metaColor;
}

/* Layout */
.global-wrapper {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  max-width: 720px;
  .site-header {
    margin-bottom: 2rem;
  }
  aside {
    margin-top: 1rem;
  }
  footer {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
  /* post list */
  .posts-content {
    .posts-list {
      li {
        margin-left: 0;
        list-style: none;
        font-size: 0.8rem;
        .post-date {
          color: $metaColor;
          font-family: Monaco, "Courier New", monospace;
        }
        a {
          font-size: 1rem;
        }
      }
    }
  }
  /* post */
  .post-content {
    
    /* each post */
    h2 {
      margin-top: 2.5em;
      margin-bottom: 1em;
    }
    h3 {
      margin-top: 2em;
      margin-bottom: 1em;
    }
    img {
      display: block;
      // margin: 0 auto;
      margin-top: 2em;
      margin-bottom: 1em;
      max-width: 80%;
      box-shadow: 0px 2px 8px dimgray;
    }
    @media all and (max-width: 720px){
      img {
        margin-left: 1%;
        max-width: 94%;
      }
    }    
  }
  /* - Aladin TTB */
  .ttb-review {
    margin-bottom: 2rem;
    text-align: center;
    a {
      color: $linkColor;
      img {
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 1em;
        max-width: 200px;
        box-shadow: 4px 4px 12px darkgrey;
      }
    }
  }
}