// @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

html {
  font-size: 12pt;
}
@media all and (max-width: 720px){
  html {
    font-size: 10pt;
  }
}
h1, h2, h3, h4, h5, h6,
p, span, pre, blockquote {
  font-family: 'Iropke Batang', 'Noto', serif;
  color: #333333;
}
