// @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
  font-size: 11pt;
}
@media all and (max-width: 720px){
  html {
    font-size: 10pt;
  }
}
h1, h2, h3, h4, h5, h6,
span, pre, blockquote {
  font-family: 'Noto Sans KR', 'Nanum Barun Gothic', 'Nanum Gothic', 'Malgun Gothic', 'Helvetica', sans-serif;
  color: #333333;
}
p {
  font-family: 'Noto Sans', serif;
  color: #333333;
}
