---
layout: default
---

<article class="post-wrapper">
  <section class="post-content">
    <h1>{{ page.title }}</h1>
    {% if page.date %}
      <p class="meta">{{ page.date | date_to_string }}</p>
    {% endif %}
    {% if page.aItemId and page.aItemImageUrl %}
      {% include aBookItem.html %}
    {% endif %}
    {{ content }}
    {% if page.tags %}
      <p class="meta">
        {% if page.tags.size > 1 %}
        TAGS:
        {% else %}
        TAG:
        {% endif %}
        {% for tag in page.tags %}
          <a href="/tags.html#{{tag}}" title="tags">{{tag}}</a>
        {% endfor %}
      </p>
    {% endif %}
  </section>
  <aside>
    <p>« <a href="{{ '/' | prepend:site.baseurl }}" class="hard-anchor" title="main-page">Back</a></p>
  </aside>
</article>

{% if site.url == "http://paikwiki.github.io" and page.aItemId and page.aItemImageUrl %}
  <script type="text/javascript" src="{{ '/assets/js/aBookTracker.js' }}"></script>
{% endif %}
